@font-face {
    font-family: 'Caveat';
    src: url('Caveat-Medium.woff2') format('woff2'),
        url('Caveat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

